<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617200099453-dqsj17472v7kn04js6c4l0mb2a5ntgvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617200099453-dqsj17472v7kn04js6c4l0mb2a5ntgvh</string>
	<key>API_KEY</key>
	<string>AIzaSyCp3QZdkLCcu5sVyLksw5LwY0anf_GimGw</string>
	<key>GCM_SENDER_ID</key>
	<string>617200099453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vatanak.sambath.provinceCambodia</string>
	<key>PROJECT_ID</key>
	<string>mite-e0cc1</string>
	<key>STORAGE_BUCKET</key>
	<string>mite-e0cc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617200099453:ios:e867964d9b7cbb9c0e5114</string>
</dict>
</plist>